body{
    width: 100%;
    height: 100vh;
    background: url(../img/fundo.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}
body div{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 25%;
}
body div div{
    position: absolute;
    top: 0;
    left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

button{
    border: none;    
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
.ligar{
    background-color: rgba(255, 255, 255, 0.426);
    box-shadow: 5px 1px 20px rgb(207, 196, 196);
    color: rgb(240, 234, 234);
}
.desligar{
    background-color: rgba(0, 0, 0, 0.426);
    box-shadow: 5px 1px 20px rgba(0, 0, 0, 0.5);
    color: rgb(162, 151, 151);
}